* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(90deg, #FFE7D1 0%, #FFF2E6 100%)
}

.login {
    background-color: #fdcfa3;
    border-radius: 10px;
    width: 400px;
    padding: 40px;
}

.login h2 {
    margin-bottom: 30px;
    font-size: 2rem;
    color: #fff;
    text-align: center;
}

.login .box-user {
    position: relative;
}

.login .login.box-user input {
    width: 100%;
    padding: 10px 0;
    outline: none;
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 16px;
    margin-bottom: 30px;
}

.login .box-user label {
    position: absolute;
    top: 0;
    left: 5px;
    padding: 12px 0;
    color: #ED4D1B;
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}

.login .box-user input:focus~label, 
.login .box-user input:valid~label
{
    top: -28px;
    left: 0;
    color: #ED4D1B;
    font-size: 12px;
}

.forget {
    font-size: 12px;
    color: #ED4D1B;
    float: right;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 12px 20px;
    color: #ED4D1B;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    margin-top: 20px;
    transition: 0.5;
}

.btn:hover {
    transition: 0.8s;
    background: #ED4D1B;
    border-radius: 8px;
    color: #fdcfa3;
}

.btn span {
    position: absolute;
    display: block;
}

@media (max-width: 405px) {
    .login {
        width: 90%;
    }
}

